<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="1">
  <title>Score Livestream</title>
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
</style>
</head>

<body>
  <h1>RoboWars!!!</h1>

    <table style="width:20%">
      <tr>
        <th>Team</th>
        <th>Score</th>
      </tr>
        <% newListItems.forEach(function(item){ %>
        <tr>
          <td> <%=item.team %> </td>
          <td> <%=item.points%> </td>
        </tr>
        <% }); %>
    </table>



</body>

</html>
